* {
  margin: 0;
  padding: 0;
}

.hero {
  background: url(./assets/images/photo3.jpg);
  background-size: cover;
  height: 120vh;
  width: 100%;
  font-size: 30px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
 flex-direction: column;
}

.hero h1{
  margin: 20px;
}
